<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        {{#if session.Doctor}}
                            {{#ifEquals session.Username data.Username}}
                                <li class="breadcrumb-item"><a href="/tai-khoan">Tài khoản</a></li>
                            {{else}}
                                <li class="breadcrumb-item"><a href="/tim-kiem/bac-si">Tìm kiếm bác sĩ</a></li>
                            {{/ifEquals}}
                        {{else}}
                            <li class="breadcrumb-item"><a href="/tim-kiem/bac-si">Tìm kiếm bác sĩ</a></li>
                        {{/if}}
                        <li class="breadcrumb-item active" aria-current="page">{{data.Name}}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="/img/doctor.png" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">{{u.Name}}</h5>
                        <p class="text-muted mb-1">@{{data.Username}}</p>
                        <p class="text-muted mb-4">{{data.Name}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Họ tên</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{data.Name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Giới tính</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{data.Gender}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Học vị</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{data.Title}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Chuyên khoa</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{data.Specialist}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Điện thoại</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{data.Phone}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0"><a href="{{data.href}}" target="_blank">Tìm hiểu thêm</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#ifEquals role "doctor"}}
        <div class="row">
            <div class="card mb-4">
                <div class="card-body">
                    <p class="mb-4">Phiếu hẹn khám bệnh
                    </p>
                    <div class="container">
                        <table id="table_appointment" class="table table-striped"
                            style="width:100%;background-color: aliceblue;">
                            <thead>
                                <tr>
                                    <th>Ngày hẹn</th>
                                    <th>Giờ hẹn</th>
                                    <th>Bệnh nhân</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each appointments}}
                                <tr>
                                    <td>{{Date}}</td>
                                    <td>{{Time}}</td>
                                    <td>{{Name}}</td>
                                    <td>{{Phone}}</td>
                                    <td>{{Email}}</td>
                                    <td>{{#if Username}}{{Username}}{{else}}Không có{{/if}}</td>
                                    <td>
                                        <select class="changeStatus" id="{{_id}}">
                                            <option value="{{Status}}" selected>{{Status}}</option>
                                            {{#ifEquals Status "Hủy"}}
                                            <option value="Chấp nhận">Chấp nhận</option>
                                            {{/ifEquals}}
                                            {{#ifEquals Status "Chấp nhận"}}
                                            <option value="Hủy">Hủy</option>
                                            {{/ifEquals}}
                                            {{#ifEquals Status "Đang chờ"}}
                                            <option value="Chấp nhận">Chấp nhận</option>
                                            <option value="Hủy">Hủy</option>
                                            {{/ifEquals}}
                                        </select>
                                    </td>
                                </tr>
                                {{/each}}
                            <tfoot>
                                <tr>
                                    <th>Ngày hẹn</th>
                                    <th>Giờ hẹn</th>
                                    <th>Bệnh nhân</th>
                                    <th>Số điện thoại</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{/ifEquals}}
        <div class="row">
            <div class="card">
                <h4 class="text-center mt-4">Lịch làm việc</h4>
                <div id="WorkSchedule">
                    {{#ifEquals data.error "empty"}}
                    {{>schedule}}
                    {{/ifEquals}}
                    {{#if data.schedule}}{{{data.schedule}}}{{/if}}
                </div>
                {{#ifEquals username data.Username}}
                <div class="d-fex justify-content-start mb-4">
                    <button class="btn btn-success d-block" id="editSchedule">Chỉnh sửa lịch làm việc</button>
                    <button class="btn btn-success d-none" id="saveSchedule">Lưu</button>
                </div>
                {{/ifEquals}}
            </div>
        </div>
    </div>
</section>