<div class="container">
    <h3 class="text-center mt-2"><b>CÁC BÁO CÁO SỬ DỤNG THUỐC</b></h3>
    <table id="example" class="table table-striped" style="width:100%;background-color: aliceblue;">
        <thead>
            <tr>
                <th>Mã báo cáo</th>
                <th>Tháng</th>
                <th>Năm</th>
                <th>Thời gian gửi</th>
                <th>Người gửi</th>
            </tr>
        </thead>
        <tbody>
            {{#each reports}}
            <tr>
                <td><a href="/tai-lieu/bao-cao-thuoc/{{_id}}">{{_id}}</a></td>
                <td>{{thang}}</td>
                <td>{{nam}}</td>
                <td>{{date}}</td>
                <td><a href="/tim-kiem/bac-si/{{author.ID}}-{{author.Name}}">{{author.Name}}</a></td>
            </tr>
            {{/each}}
        <tfoot>
            <tr>
                <th>Mã báo cáo</th>
                <th>Tháng</th>
                <th>Năm</th>
                <th>Thời gian gửi</th>
                <th>Người gửi</th>
            </tr>
        </tfoot>
    </table>
</div>