<!-- Hero Start -->
<div class="container-fluid bg-info py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                    style="border-color: rgba(256, 256, 256, .3) !important;"><b>Welcome To GROUP21</b></h5>
                <h1 class="display-1 text-white mb-md-4"><b>Phòng Khám Đa Khoa Tốt Nhất Hiện Nay</b></h1>
                <div class="pt-2">
                    <a href="/tim-kiem/bac-si" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">Tìm bác sĩ</a>
                    <a href="/tai-lieu/lap-phieu-hen"
                        class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2">Lập phiếu hẹn</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Về chúng tôi</h5>
                    <h1 class="display-4"><b>Dịch vụ chăm sóc y tế tốt nhất cho bạn và người thân</b></h1>
                </div>
                <p>Phòng khám đa khoa Group21 được thành lập năm 2077 với niềm tự hào là một trong những Phòng khám điện
                    tử theo tiêu chuẩn quốc tế đầu tiên tại Việt Nam được đầu tư trang thiết bị tiên tiến và hiện đại.

                    Với hệ thống quản lý hồ sơ điện tử, khách hàng xem được toàn bộ kết quả khám và xét nghiệm sau 24h
                    trên Internet nhưng vẫn đảm bảo bí mật kết quả khám tuyệt đối. Việc ứng dụng quản trị hồ sơ điện tử
                    sẽ tiết kiệm thời gian và giảm sự chờ đợi của khách hàng khi đến khám. Toàn bộ kết quả xét nghiệm
                    được chạy bằng hóa chất của chính hãng, không gửi mẫu xét nghiệm ra bên ngoài, không làm quick test.

                    Dựa trên uy tín, chất lượng đã tạo dựng, Phòng khám đa khoa Group21 tin tưởng sẽ trở thành nơi bạn
                    gửi trọn niềm tin trong việc chăm sóc sức khỏe của bản thân và gia đình bạn.</p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                            <h6 class="mb-0 text-primary">Bác sĩ<small class="d-block text-dark">Kinh nghiệm</small>
                            </h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                            <h6 class="mb-0 text-primary">Dịch vụ<small class="d-block text-dark">Khẩn cấp</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                            <h6 class="mb-0 text-primary">Xét nghiệm<small class="d-block text-dark">Chuẩn xác</small>
                            </h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                            <h6 class="mb-0 text-primary">Xe cứu thương<small class="d-block text-dark">Miễn phí</small>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Medical examination process Start -->
<div class="container-fluid py-5">
    <div class="mb-4 ms-4">
        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Hướng dẫn</h5>
        <h1 class="display-4"><b>Quy trình khám bệnh tại phòng khám</b></h1>
    </div>
    <img src="img/quy-trinh-kham-benh.png" alt="" class="process-img text-center">
</div>
<!-- Medical examination process End -->

<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Dịch vụ</h5>
            <h1 class="display-4">Dịch vụ y tế tốt nhất</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-user-md text-white"></i>
                    </div>
                    <h4 class="mb-3">Chăm sóc y tế khẩn cấp</h4>
                    <p class="m-0">Chúng tôi hỗ trợ chăm sóc y tế trong thời gian nhanh nhất, chăm sóc tận nhà</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="#">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-procedures text-white"></i>
                    </div>
                    <h4 class="mb-3">Phẫu thuật</h4>
                    <p class="m-0">Cung cấp dịch vụ chăm sóc phẫu thuật, hết mình phục vụ cho mọi bệnh nhân trong suốt
                        quá trình từ tư vấn đến chăm sóc sau phẫu thuật. </p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="#">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-stethoscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Khám bệnh</h4>
                    <p class="m-0">Nỗ lực hết sức mình cùng khách hàng giữ gìn, bảo vệ sức khỏe bằng lòng yêu thương,
                        coi sức khỏe của khách hàng như sức khỏe của bản thân</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="#">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-ambulance text-white"></i>
                    </div>
                    <h4 class="mb-3">Cấp cứu</h4>
                    <p class="m-0">Nhanh chóng, an toàn, miễn phí vì sức khỏe, tính mạng của bệnh nhân</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="#">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-pills text-white"></i>
                    </div>
                    <h4 class="mb-3">Thuốc và dược phẩm</h4>
                    <p class="m-0">cung cấp các sản phẩm thuốc và sản phẩm chăm sóc sức khỏe hàng đầu với giá thành cạnh
                        tranh nhất</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="#">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-microscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Xét nghiệm</h4>
                    <p class="m-0">Mang đến dịch vụ chăm sóc sức khỏe chuyên sâu, xét nghiệm nhanh chóng, tiện lợi và
                        chính xác</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="#">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->


<!-- Pricing Plan Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Các gói dịch vụ</h5>
            <h1 class="display-4">Các chương trình</h1>
        </div>
        <div class="owl-carousel price-carousel position-relative" style="padding: 0 45px 45px 45px;">
            <div class="bg-light rounded text-center">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="img/price-1.jpg" alt="">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center"
                        style="background: rgba(29, 42, 77, .8);">
                        <h3 class="text-white">Chăm sóc thai kỳ</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top fw-normal"
                                style="font-size: 22px; line-height: 45px;">VND</small>1.090.000<small
                                class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ Năm</small>
                        </h1>
                    </div>
                </div>
                <div class="text-center py-5">
                    <p>Nhanh chóng</p>
                    <p>Bác sĩ giàu kinh nghiệm</p>
                    <p>Chăm sóc tận nhà</p>
                    <p>Đảm bảo chất lượng</p>
                    <a href="#" class="btn btn-primary rounded-pill py-3 px-5 my-2">Đăng ký</a>
                </div>
            </div>
            <div class="bg-light rounded text-center">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="img/price-2.jpg" alt="">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center"
                        style="background: rgba(29, 42, 77, .8);">
                        <h3 class="text-white">Kiểm tra sức khỏe định kỳ</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top fw-normal"
                                style="font-size: 22px; line-height: 45px;">VND</small>2.290.000<small
                                class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ Năm</small>
                        </h1>
                    </div>
                </div>
                <div class="text-center py-5">
                    <p>Nhanh chóng</p>
                    <p>Bác sĩ giàu kinh nghiệm</p>
                    <p>Chăm sóc tận nhà</p>
                    <p>Đảm bảo chất lượng</p>
                    <a href="#" class="btn btn-primary rounded-pill py-3 px-5 my-2">Đăng ký</a>
                </div>
            </div>
            <div class="bg-light rounded text-center">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="img/price-3.jpg" alt="">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center"
                        style="background: rgba(29, 42, 77, .8);">
                        <h3 class="text-white">Chăm sóc răng miệng</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top fw-normal"
                                style="font-size: 22px; line-height: 45px;">VND</small>3.490.000<small
                                class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ Năm</small>
                        </h1>
                    </div>
                </div>
                <div class="text-center py-5">
                    <p>Nhanh chóng</p>
                    <p>Bác sĩ giàu kinh nghiệm</p>
                    <p>Chăm sóc tận nhà</p>
                    <p>Đảm bảo chất lượng</p>
                    <a href="#" class="btn btn-primary rounded-pill py-3 px-5 my-2">Đăng ký</a>
                </div>
            </div>
            <div class="bg-light rounded text-center">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="img/price-4.jpg" alt="">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center"
                        style="background: rgba(29, 42, 77, .8);">
                        <h3 class="text-white">Tiểu phẫu và phẫu thuật</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top fw-normal"
                                style="font-size: 22px; line-height: 45px;">VND</small>4.590.000<small
                                class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;">/ Năm</small>
                        </h1>
                    </div>
                </div>
                <div class="text-center py-5">
                    <p>Nhanh chóng</p>
                    <p>Bác sĩ giàu kinh nghiệm</p>
                    <p>Chăm sóc tận nhà</p>
                    <p>Đảm bảo chất lượng</p>
                    <a href="#" class="btn btn-primary rounded-pill py-3 px-5 my-2">Đăng ký</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing Plan End -->


<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Bác sĩ</h5>
            <h1 class="display-4">Đội ngũ bác sĩ giỏi, giàu kinh nghiệm</h1>
        </div>
        <div class="owl-carousel team-carousel position-relative">
            {{#each doctors}}
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="img/team-{{Gender}}.jpg" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>{{Name}}</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">{{Title}}</h6>
                            <p class="m-0">Chuyên khoa {{Specialist}}</p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <p><b>Điện thoại: </b>{{Phone}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"><b>ĐÁNH GIÁ CỦA BỆNH NHÂN</b>
            </h5>
            <h1 class="display-4">Các bệnh nhân nói gì về dịch vụ của chúng tôi?</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle mx-auto" src="img/testimonial-1.jpg" alt=""
                                style="max-width: fit-content;min-height: fit-content;">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                style="width: 60px; height: 60px;">
                                <i class="fa fa-quote-left fa-2x text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-4 fw-normal">Vợ tôi mang thai tới tháng thứ 5 rồi nên việc đi bệnh viện khám thai
                            phải chờ đợi khá mệt mỏi. Mỗi lần đi khám là tới nơi bóc số rồi chờ mất khoảng nửa ngày
                            trời. Cũng may bà xã mình nghe nhỏ bạn nói ra ngoài cơ sở y tế tư nhân khám cho nhanh nên
                            mình dẫn vợ qua phòng khám trải nghiệm thử luôn. Đúng là nhanh hơn đi bệnh viện gấp trăm lần
                            luôn. Tới nơi làm thủ tục rồi là vô gặp bác sĩ liền luôn. Sau đó ngồi chờ kết quả và nghe
                            bác sĩ tư vấn, tổng cộng chỉ mất khoảng nửa tiếng à.</p>
                        <hr class="w-25 mx-auto">
                        <h3>Uchiha Sasuke</h3>
                        <h6 class="fw-normal text-primary mb-3">Lập trình viên IT</h6>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle mx-auto" src="img/testimonial-2.jpg" alt=""
                                style="max-width: fit-content;min-height: fit-content;">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                style="width: 60px; height: 60px;">
                                <i class="fa fa-quote-left fa-2x text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-4 fw-normal">Mình bị mắc phải bệnh khó nói ra, mà đi bệnh viện thì sợ gặp người
                            quen với lại đông đúc nữa. Nên mình quyết định đi tìm địa chỉ khám bệnh tư nhân cho chắc ăn.
                            Lên mạng tìm đại luôn, thì mình thấy phòng khám này giới thiệu hay nè, nên quyết định chọn
                            đến phòng khám thăm khám luôn coi thế nào. Vào đến đây khám thì thấy mọi thứ quả thật đúng
                            như mình mong đợi luôn. Cơ sở vật chất khang trang, bác sĩ với y tá ai nấy cũng đều nhiệt
                            tình. Kết ở phòng khám này là đặt hẹn lấy số trước, vô là gặp bác sĩ liền không cần phải chờ
                            đợi lâu.</p>
                        <hr class="w-25 mx-auto">
                        <h3>Uzumaki Naruto</h3>
                        <h6 class="fw-normal text-primary mb-3">Phi công</h6>
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class="img-fluid rounded-circle mx-auto" src="img/testimonial-3.jpg" alt=""
                                style="max-width: fit-content;min-height: fit-content;">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle"
                                style="width: 60px; height: 60px;">
                                <i class="fa fa-quote-left fa-2x text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-4 fw-normal">Mình rất ngại kiểu khám bệnh cọc cằn, nạt nộ bệnh nhân nên mình thường
                            lựa chọn phòng khám tư nhân. May mắn được biết đến Group21, nhân viên thì nhiệt tình, bác sĩ
                            thì khám kỹ mà còn dễ thương. Ấn tượng đầu tiên là phòng khám vừa sạch sẽ vừa hiện đại, mới
                            tới được nhân viên tại đó hướng dẫn tận tình lắm. Được biết là bác sĩ cũng công tác tại mấy
                            bệnh viện lớn nữa nên mấy bạn yên tâm nha</p>
                        <hr class="w-25 mx-auto">
                        <h3>Haruno Sakura</h3>
                        <h6 class="fw-normal text-primary mb-3">Nhân viên văn phòng</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->