<div class="card">
    <div class="card-body">
        <div class="container mb-5 mt-3">
            <div class="row d-flex align-items-baseline">
                <div class="col-xl-9">
                    <p style="color: #7e8d9f;font-size: 20px;">PHIẾU KHÁM BỆNH
                    </p>
                </div>
                <div class="col-xl-3 float-end">
                    <button type="submit" class="btn btn-light text-capitalize border-0" id="btnSave"
                        data-bs-ripple-color="dark" form="invoiceForm"><i class="fas fa-save text-primary"></i> Save</button>
                </div>
                <hr>
            </div>

            <div class="container">
                <div class="col-md-12">
                    <div class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-file-medical" viewBox="0 0 16 16">
                            <path
                                d="M8.5 4.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L7 6l-.549.317a.5.5 0 1 0 .5.866l.549-.317V7.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L9 6l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V4.5zM5.5 9a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z" />
                            <path
                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
                        </svg>
                        <p class="pt-0">PHÒNG KHÁM GROUP21</p>
                    </div>

                </div>


                <div class="row">
                    <div class="col-xl-8">
                        <form class="form-inline" id="invoiceForm" action="/tai-lieu/xuat-hoa-don" method="post">
                            <div class="row g-3 align-items-center mb-auto">
                                <div class="col-auto">
                                    <label for="Name">Bệnh nhân: </label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" list="patients" id="Name" name="Name"
                                        class="form-control mx-sm-3 border-0" value="" required>
                                    <input type="text" id="Username" name="Username"
                                        class="d-none" value="">
                                </div>
                                <datalist id="patients">
                                    {{#each patients}}
                                    <option value="{{Name}} ({{Username}})" data-username="{{Username}}" data-name="{{Name}}">{{Name}} ({{Username}})</option>
                                    {{/each}}
                                </datalist>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="DOB">Ngày sinh: </label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="DOB" class="form-control mx-sm-3 border-0" value="" name="DOB" required>
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="Address">Địa chỉ: </label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="Address" class="form-control mx-sm-3 border-0" value="" name="Address" required>
                                </div>
                            </div>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="Res">Chẩn đoán: </label>
                                </div>
                                <div class="col-auto">
                                    <input type="text" id="Res" class="form-control mx-sm-3 border-0" value="" name="Diagnosis" required>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-4">
                        <p class="text-muted">Phiếu khám bệnh</p>
                        <ul class="list-unstyled">
                            <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                                    class="fw-bold">Ngày tạo: </span><span>{{today}}</span></li>
                            <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                                    class="fw-bold">Bác sĩ chẩn đoán: </span><span>{{doctor.Name}}</span></li>
                            <input class="d-none" type="text" name="DoctorID" value="{{doctor.ID}}" form="invoiceForm">
                            <input class="d-none" type="text" name="DoctorName" value="{{doctor.Name}}" form="invoiceForm">
                            <input class="d-none" type="text" name="Date" value="{{date}}" form="invoiceForm">
                            <input class="d-none" type="time" name="Time" value="{{time}}" form="invoiceForm">
                        </ul>
                    </div>
                </div>

                <div class="row my-2 mx-1 justify-content-center">
                    <table class="table table-striped table-borderless auto-index">
                        <thead style="background-color:#84B0CA ;" class="text-white">
                            <tr>
                                <th scope="col" class="text-center">STT</th>
                                <th scope="col" class="text-center">Tên thuốc/dịch vụ</th>
                                <th scope="col" class="text-center">Đơn vị tính</th>
                                <th scope="col" class="text-center">Số lượng</th>
                                <th scope="col" class="text-center">Trong kho</th>
                                <th scope="col" class="text-center">Đơn giá</th>
                                <th scope="col" class="text-center">Tổng cộng</th>
                                <th scope="col" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <datalist id="drugs">
                        {{#each drugs}}
                        <option value="{{Name}}" data-id="{{ID}}" data-quantity="{{Quantity}}" data-unit="{{Unit}}" data-price="{{Price}}">{{Name}}</option>
                        {{/each}}
                    </datalist>
                    <button onclick="autoGenerate()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus-circle-dotted" viewBox="0 0 16 16">
                            <path
                                d="M8 0c-.176 0-.35.006-.523.017l.064.998a7.117 7.117 0 0 1 .918 0l.064-.998A8.113 8.113 0 0 0 8 0zM6.44.152c-.346.069-.684.16-1.012.27l.321.948c.287-.098.582-.177.884-.237L6.44.153zm4.132.271a7.946 7.946 0 0 0-1.011-.27l-.194.98c.302.06.597.14.884.237l.321-.947zm1.873.925a8 8 0 0 0-.906-.524l-.443.896c.275.136.54.29.793.459l.556-.831zM4.46.824c-.314.155-.616.33-.905.524l.556.83a7.07 7.07 0 0 1 .793-.458L4.46.824zM2.725 1.985c-.262.23-.51.478-.74.74l.752.66c.202-.23.418-.446.648-.648l-.66-.752zm11.29.74a8.058 8.058 0 0 0-.74-.74l-.66.752c.23.202.447.418.648.648l.752-.66zm1.161 1.735a7.98 7.98 0 0 0-.524-.905l-.83.556c.169.253.322.518.458.793l.896-.443zM1.348 3.555c-.194.289-.37.591-.524.906l.896.443c.136-.275.29-.54.459-.793l-.831-.556zM.423 5.428a7.945 7.945 0 0 0-.27 1.011l.98.194c.06-.302.14-.597.237-.884l-.947-.321zM15.848 6.44a7.943 7.943 0 0 0-.27-1.012l-.948.321c.098.287.177.582.237.884l.98-.194zM.017 7.477a8.113 8.113 0 0 0 0 1.046l.998-.064a7.117 7.117 0 0 1 0-.918l-.998-.064zM16 8a8.1 8.1 0 0 0-.017-.523l-.998.064a7.11 7.11 0 0 1 0 .918l.998.064A8.1 8.1 0 0 0 16 8zM.152 9.56c.069.346.16.684.27 1.012l.948-.321a6.944 6.944 0 0 1-.237-.884l-.98.194zm15.425 1.012c.112-.328.202-.666.27-1.011l-.98-.194c-.06.302-.14.597-.237.884l.947.321zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a6.999 6.999 0 0 1-.458-.793l-.896.443zm13.828.905c.194-.289.37-.591.524-.906l-.896-.443c-.136.275-.29.54-.459.793l.831.556zm-12.667.83c.23.262.478.51.74.74l.66-.752a7.047 7.047 0 0 1-.648-.648l-.752.66zm11.29.74c.262-.23.51-.478.74-.74l-.752-.66c-.201.23-.418.447-.648.648l.66.752zm-1.735 1.161c.314-.155.616-.33.905-.524l-.556-.83a7.07 7.07 0 0 1-.793.458l.443.896zm-7.985-.524c.289.194.591.37.906.524l.443-.896a6.998 6.998 0 0 1-.793-.459l-.556.831zm1.873.925c.328.112.666.202 1.011.27l.194-.98a6.953 6.953 0 0 1-.884-.237l-.321.947zm4.132.271a7.944 7.944 0 0 0 1.012-.27l-.321-.948a6.954 6.954 0 0 1-.884.237l.194.98zm-2.083.135a8.1 8.1 0 0 0 1.046 0l-.064-.998a7.11 7.11 0 0 1-.918 0l-.064.998zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                        </svg>
                    </button>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                    </div>
                    <div class="col-xl-6">
                        <p class="text-black float-start"><span class="text-black me-3">Tổng số tiền cần thanh
                                toán:</span><span style="font-size: 25px;"><input type="number" readonly required value="0" id="AllTotal" name="AllTotal" form="invoiceForm" class="border-0"></span></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>