<section>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://itsourcecode.com/wp-content/uploads/2019/04/hp-zdravotnictvi.jpg"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Đăng ký tài khoản</h3>

            <form class="px-md-2" action="/dang-ky-tai-khoan" method="POST">
              {{!-- Username input --}}
              <div class="form-floating mb-4 form-floating">
                <input type="text" id="username" class="form-control" name="Username" value="{{user.Username}}" placeholder="Username" required/>
                <label class="form-label" for="username">Username</label>
              </div>

              <p class="text-danger {{display}}">Username đã tồn tại</p>

              {{!-- Name input --}}
              <div class="form-floating mb-4 form-floating"> 
                <input type="text" id="name" class="form-control" name="Name" value="{{user.Name}}" placeholder="Họ và tên" required/>
                <label class="form-label" for="name">Họ và tên</label>
              </div>

              <div class="row">
                <div class="col-md-6 mt-2 mb-2">
                  {{!-- Date of birth input --}}
                  <div class="form-floating datepicker form-floating">
                    <input type="date" class="form-control" id="date-of-birth" name="DOB" value="{{user.DOB}}" required/>
                    <label for="date-of-birth" class="form-label">Ngày sinh</label>
                  </div>

                </div>
                <div class="col-md-4 mb-4">
                    {{!-- Sex input --}}
                    <label class="form-label" for="sex">Giới tính</label>
                    <div class="d-flex">
                        <input class="form-check-input" type="radio" name="Gender" id="male" value="Nam">
                        <label style="margin-left: 4px;" class="form-check-label" for="male">
                        Nam
                        <input style="margin-left: 20px;" class="form-check-input" type="radio" name="Gender" id="female" value="Nữ">
                        <label class="form-check-label" for="female">
                        Nữ
                    </div>
                </div>
              </div>
              
              {{!-- Phone number input --}}
              <div class="form-floating mb-4 form-floating">
                <input type="text" id="phone-number" class="form-control" name="Phone" value="{{user.Phone}}" placeholder="Số điện thoại" required/>
                <label class="form-label" for="phone-number">Số điện thoại</label>
              </div>

              {{!-- Email input --}}
              <div class="form-floating mb-4 form-floating">
                <input type="email" id="email" class="form-control" name="Email" value="{{user.Email}}" placeholder="Email"/>
                <label class="form-label" for="email">Email</label>
              </div>

              {{!-- Address input --}}
              <div class="form-floating mb-4 form-floating">
                <input type="text" id="address" class="form-control" name="Address" value="{{user.Address}}" placeholder="Địa chỉ" required/>
                <label class="form-label" for="address">Địa chỉ</label>
              </div>

              {{!-- Password input --}}
              <div class="form-floating mb-4 form-floating">
                <input type="password" id="password" class="form-control" name="Password" value="{{user.Password}}" placeholder="Mật khẩu" required/>
                <label class="form-label" for="password">Mật khẩu</label>
              </div>

              {{!-- Confirm password input --}}
              <div class="form-floating mb-4 form-floating">
                <input type="password" id="retype_password" class="form-control" name="Retype" value="{{user.Retype}}" placeholder="Xác nhận mật khẩu" required/>
                <label class="form-label" for="retype_password">Xác nhận mật khẩu</label>
              </div>

              {{!-- Button submit --}}
              <button type="submit" class="btn btn-success btn-lg mb-4">Đăng ký</button>

              {{!-- Link login --}}
              <p class="mb-1" style="color: #000;">Bạn đã có tài khoản? Đăng nhập tại <a href="/dang-nhap"
              style="color: rgb(0, 102, 255);">đây</a></p>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>