<div class="container">
    <h3 class="text-center mt-2"><b>HỒ SƠ BỆNH ÁN</b></h3>
    <table id="example" class="table table-striped" style="width:100%;background-color: aliceblue;">
        <thead>
            <tr>
                <th>Ngày khám</th>
                <th>Giờ khám</th>
                <th>Bác sĩ khám</th>
                <th>Chẩn đoán</th>
                <th>Tổng chi phí</th>
            </tr>
        </thead>
        <tbody>
            {{#each records}}
            <tr>
                <td>{{Date}}</td>
                <td>{{Time}}</td>
                <td><a href="/bac-si/{{DoctorID}}-{{Doctor}}">{{Doctor}}</a></td>
                <td>{{Diagnosis}}</td>
                <td>{{Fee}}</td>
            </tr>
            {{/each}}
        <tfoot>
            <tr>
                <th>Ngày khám</th>
                <th>Giờ khám</th>
                <th>Bác sĩ khám</th>
                <th>Chẩn đoán</th>
                <th>Tổng chi phí</th>
            </tr>
        </tfoot>
    </table>
</div>